:root {
  --color-bg: #f0f4f8;
  --color-primary: #ffffff;
  --color-secondary: #008bfe;
  --color-light-blue: #cce8ff;
  --color-text: #000000;
  --color-card-inner-border: #cce8ff;
  --font: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  min-height: 100vh;
  min-width: 100vw;
  font-family: var(--font);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
